h1 {
    font-family: "Book Antiqua", serif;
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-align: center;
    letter-spacing: 1px;
    word-spacing: 3px;
    text-decoration: underline;
    text-transform: uppercase;
}
h2 {
    font-family: "Book Antiqua", serif;
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-align: center;
    letter-spacing: 1px;
    word-spacing: 3px;
}
h3 {
    font-family: "Book Antiqua", serif;
    font-size: 18px;
    font-style: italic;
    color: white;
    text-align: center;
    letter-spacing: 1px;
    word-spacing: 3px;
}
h4 {
    font-family: "Book Antiqua", serif;
    font-size: 18px;
    font-style: italic;
    color: white;
    text-align: center;
    letter-spacing: 1px;
    word-spacing: 3px;
}
p {
    font-family: "Book Antiqua", serif;
    font-size: 14px;
    color: white;
    line-height: 1.5;
    text-indent: 20px;
    letter-spacing: 1px;
    word-spacing: 3px;
}
body {
    background: url('https://media.discordapp.net/attachments/971509690938818590/1023738026632958083/1614268077_12-p-chernii-graficheskii-fon-13.jpg?width=960&height=540') no-repeat;
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
    -o-background-size: 100%;
    background-size: 150%;
}
a {
    color: white;
}
aside {
    color: white
}
article {
    color: white
}
ol {
    margin: 30px;
}
li {
    margin-top: 10px;
}
font {
    color: white;
    font-family: "Book Antiqua", serif;
    font-size: 12px;
}
section {
    margin: 30px;
}
div {
    background-color: black;
    border: 3px solid;
    border-color: white;
    box-shadow: 0 0 5px 3px white;
}
div.nav {
    width: 250px;
    height: 100px;
    margin-top: 10px;
    margin-left: 55px
}
img {
    box-shadow: 0 0 5px 5px white;
}

h2.line-through {
    text-decoration: line-through;
}